<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1> {{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <h4><b>Preparation Instruction:</b></h4>
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <h4><b>Preparation Time:</b></h4>
      <span *ngIf="recipe.hour != 0">{{recipe.hour}}h - </span>{{recipe.minutes}}min
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4><b>Ingredients:</b></h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-danger" (click)="onDeleteRecipe()">Delete Recipe</button>
    </div>
    <div class="col-xs-6">
      <a href="{{recipe.source}}" target="_blank">
        <button class="btn btn-primary">View Source</button>
      </a>

    </div>
</div>
